body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

header {
    background: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

header h1 {
    font-family: 'Georgia', serif;
    font-size: 3em;
    margin: 0;
}

header .title {
    font-size: 2em;
    margin-top: 10px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

section {
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 10px;
}

#contact {
    background: #f3f3f3;
}

#education {
    background: #eafaf1;
}

#skills {
    background: #f9f9f9;
}

#about {
    background: #fdf2f2;
}

h2 {
    color: #4CAF50;
}

#contact h2,
#about h2 {
    color: #cc6666;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

footer {
	
    text-align: center;
    padding: 20px 0;
    background: #4CAF50;
    color: white;
	
}
